#header {
  background-color: #EFF2F9 !important;
  font-family: "微软雅黑";
}
#header a {
  color: #999999 !important;
}
#header #add,
#header #search {
  float: right;
  margin: 0 0.1rem;
}
#header h1 {
  text-align: left;
  left: 1rem;
  right: 0;
}
#popover {
  width: 150px;
}
#popover ul,
#popover .mui-popover-arrow:after {
  background-color: #4C4C4C;
  color: white;
}
#popover a {
  text-align: left;
}
#popover a span {
  vertical-align: -5%;
  margin-right: .3em;
}
#popover .mui-active {
  background-color: #3b3b3b;
}
#nav {
  background-color: #EFF2F9 !important;
  font-family: "微软雅黑";
}
#nav .mui-active {
  color: #08C161 !important;
}
#nav .mui-badge-danger {
  background-color: #FA5151;
}
#tabbar1 p {
  font-size: 12px;
  color: #999999;
  width: 90%;
}
#tabbar1 .time {
  float: right;
  font-size: 12px;
  color: #999999;
}
#tabbar1 .mui-badge {
  top: 20%;
  right: 83%;
}
#tabbar1 .mui-badge-danger {
  background-color: #FA5151;
}
#tabbar2 .mui-table-view li {
  padding: 8px 10px;
  padding-bottom: 6px;
}
#tabbar2 .mui-table-view img {
  border-radius: 5px;
  height: 22px;
  margin-top: 2px;
  margin-left: 10px;
}
#tabbar2 .mui-table-view .mui-media-body {
  height: 30px;
}
#tabbar2 .mui-table-view .mui-media-body span.name {
  line-height: 2em;
  font-size: 16px;
  margin-left: 0.4em;
}
#tabbar2 .mui-table-view .mui-indexed-list-group {
  padding: 4px 18px;
  font-size: 12px;
  margin-top: -2px;
  padding-bottom: 2px;
}
#tabbar2 .mui-indexed-list-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 30px;
  height: 34rem;
  padding: 0 8px;
}
#tabbar2 .mui-indexed-list-bar a {
  font-size: 12px;
  text-align: center;
  color: #4C4C4C;
  height: 1rem;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  line-height: 15px;
}
#tabbar2 .mui-indexed-list-bar .active {
  background-color: #08C161;
  color: white;
}
#tabbar2 .mui-indexed-list-alert {
  position: absolute;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  border-radius: 40px;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  color: #fff;
  display: none;
}
#tabbar2 .mui-indexed-list-alert.active {
  display: block;
}
#tabbar3 ul img.mui-media-object {
  height: 20px;
}
#tabbar3 ul .mui-media-body {
  margin-top: 1px;
  padding-left: 10px;
}
#tabbar3 ul i {
  position: absolute;
  right: 12px;
  font-size: 18px;
  color: #bbb;
}
#tabbar3 ul:nth-of-type(2) {
  margin: 10px 0;
}
#tabbar4 ul:first-child li a {
  padding: 16px 20px;
}
#tabbar4 ul:first-child li a p {
  line-height: 24px;
}
#tabbar4 ul:first-child li a p i {
  right: 38px;
  top: 39px;
}
#tabbar4 ul:first-child li a p i img {
  width: 17px;
}
#tabbar4 ul:first-child li a::after {
  top: 64%;
}
#tabbar4 ul:nth-of-type(2) {
  margin: 10px 0;
}
#tabbar4 ul:nth-of-type(2) img {
  height: 26px;
}
#tabbar4 ul:nth-of-type(2) .mui-media-body {
  margin-top: 3px;
}
#tabbar4 ul:nth-of-type(3) {
  margin: 10px 0;
}
#tabbar4 ul:nth-of-type(3) img {
  height: 20px;
}
#tabbar4 ul:nth-of-type(3) .mui-media-body {
  margin-top: 2px;
}
#tabbar4 ul:nth-of-type(4) img {
  height: 24px;
}
#tabbar4 ul:nth-of-type(4) .mui-media-body {
  margin-top: 2px;
}
#tabbar4 ul i {
  position: absolute;
  right: 20px;
  font-size: 17px;
  color: #bbb;
}
