#header {
  background-color: #EFF2F9 !important;
  font-family: "微软雅黑";
}
#header a {
  color: #999999 !important;
}
#header #add,
#header #search {
  float: right;
  margin: 0 0.1rem;
}
#header h1 {
  text-align: left;
  left: 1rem;
  right: 0;
}
#popover {
  width: 150px;
}
#popover ul,
#popover .mui-popover-arrow:after {
  background-color: #4C4C4C;
  color: white;
}
#popover a {
  text-align: left;
}
#popover a span {
  vertical-align: -5%;
  margin-right: .3em;
}
#popover .mui-active {
  background-color: #3b3b3b;
}
#nav {
  background-color: #EFF2F9 !important;
  font-family: "微软雅黑";
}
#nav .mui-active {
  color: #08C161 !important;
}
#nav .mui-badge-danger {
  background-color: #FA5151;
}
#tabbar1 p {
  font-size: 12px;
  color: #999999;
  width: 90%;
}
#tabbar1 .time {
  float: right;
  font-size: 12px;
  color: #999999;
}
#tabbar1 .mui-badge {
  top: 20%;
  right: 83%;
}
#tabbar1 .mui-badge-danger {
  background-color: #FA5151;
}
#tabbar2 .mui-table-view li {
  padding: 8px 10px;
  padding-bottom: 6px;
}
#tabbar2 .mui-table-view img {
  border-radius: 5px;
  height: 34px;
  margin-top: 2px;
  margin-left: 10px;
}
#tabbar2 .mui-table-view .mui-media-body {
  height: 42px;
}
#tabbar2 .mui-table-view .mui-media-body span.name {
  line-height: 42px;
  font-size: 1.2em;
  margin-left: 0.4em;
}
#tabbar2 .mui-table-view .mui-indexed-list-group {
  padding: 4px 18px;
  font-size: 12px;
  margin-top: -2px;
  padding-bottom: 2px;
}
