

// index.css

#header {
    background-color: #EFF2F9 !important;
    font-family: "微软雅黑";

    a {
        color: #999999 !important;
    }

    #add,
    #search {
        float: right;
        margin: 0 0.1rem;
    }

    h1 {
        text-align: left;
        left: 1rem;
        right: 0;
        // font-size: larger;
    }
}

#popover {
    width: 150px;

    ul,
    .mui-popover-arrow:after {
        background-color: #4C4C4C;
        color: white;
    }

    a {
        text-align: left;
        span{
            vertical-align: -5%;
            margin-right: .3em;
        }
    }
    .mui-active{
        background-color: rgb(59, 59, 59);
    }


}

#nav {
    background-color: #EFF2F9 !important;
    font-family: "微软雅黑";

    .mui-active {
        color: #08C161 !important;
    }

    .mui-badge-danger {
        background-color: #FA5151;
    }
}

#tabbar1 {
    p {
        font-size: 12px;
        color: #999999;
        width: 90%;
    }

    .time {
        float: right;
        font-size: 12px;
        color: #999999;
    }

    .mui-badge {
        top: 20%;
        right: 83%;
    }

    .mui-badge-danger {
        background-color: #FA5151;
    }
}