// index.css

#header {
    background-color: #EFF2F9 !important;
    font-family: "微软雅黑";

    a {
        color: #999999 !important;
    }

    #add,
    #search {
        float: right;
        margin: 0 0.1rem;
    }

    h1 {
        text-align: left;
        left: 1rem;
        right: 0;
        // font-size: larger;
    }
}

#popover {
    width: 150px;

    ul,
    .mui-popover-arrow:after {
        background-color: #4C4C4C;
        color: white;
    }

    a {
        text-align: left;

        span {
            vertical-align: -5%;
            margin-right: .3em;
        }
    }

    .mui-active {
        background-color: rgb(59, 59, 59);
    }


}

#nav {
    background-color: #EFF2F9 !important;
    font-family: "微软雅黑";

    .mui-active {
        color: #08C161 !important;
    }

    .mui-badge-danger {
        background-color: #FA5151;
    }
}

#tabbar1 {
    p {
        font-size: 12px;
        color: #999999;
        width: 90%;
    }

    .time {
        float: right;
        font-size: 12px;
        color: #999999;
    }

    .mui-badge {
        top: 20%;
        right: 83%;
    }

    .mui-badge-danger {
        background-color: #FA5151;
    }
}

// 通讯录
#tabbar2 {
    .mui-table-view {
        li {
            padding: 8px 10px;
            padding-bottom: 6px;
        }

        img {
            border-radius: 5px;
            height: 22px;
            margin-top: 2px;
            margin-left: 10px;

        }

        .mui-media-body {
            height: 30px;

            span.name {
                line-height: 2em;
                font-size: 16px;
                margin-left: 0.4em;
            }
        }

        .mui-indexed-list-group {
            padding: 4px 18px;
            font-size: 12px;
            margin-top: -2px;
            padding-bottom: 2px;
        }
    }
    .mui-indexed-list-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        right: 0;
        top: 30px;
        height: 34rem;
        padding: 0 8px;
        a{
            font-size: 12px;
            text-align: center;
           
            color: #4C4C4C;
            height: 1rem;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            line-height: 15px;
        }
        .active{
            background-color: #08C161;
            color: white;
        }
    }
    .mui-indexed-list-alert {
        position: absolute;
        z-index: 20;
        background-color: rgba(0, 0, 0, 0.5);
        width: 80px;
        height: 80px;
        left: 50%;
        top: 50%;
        margin-left: -40px;
        margin-top: -40px;
        border-radius: 40px;
        text-align: center;
        line-height: 80px;
        font-size: 35px;
        color: #fff;
        display: none;
        &.active {
            display: block;
        }
    }
}
//发现
#tabbar3{
    ul{
        img.mui-media-object{
            height: 20px;
        }
        .mui-media-body {
            margin-top: 1px;
            padding-left: 10px;
        }
        i{
            position: absolute;
            right: 12px;
            font-size: 18px;
            color: #bbb;
        }
    }
    ul:nth-of-type(2){
        margin: 10px 0;
    }

}

//我
#tabbar4 {
    ul:first-child {
        li {
            a {
                padding: 16px 20px;

                p {
                    line-height: 24px;
                    i{
                        right: 38px;
                        top: 39px;
                        img{
                            width: 17px;
                            
                        }
                    }
                }

                &::after {
                    top: 64%
                }
            }

        }
    }

    ul:nth-of-type(2) {
        margin: 10px 0;

        img {
            height: 26px;
        }

        .mui-media-body {
            margin-top: 3px;
        }
    }

    ul:nth-of-type(3) {
        margin: 10px 0;

        img {
            height: 20px;
        }

        .mui-media-body {
            margin-top: 2px;
        }
    }

    ul:nth-of-type(4) {
        img {
            height: 24px;
        }
        .mui-media-body {
            margin-top: 2px;
        }
    }
    ul i{
        position: absolute;
        right: 20px;
        font-size: 17px;
        color: #bbb;
    }
}