<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <link rel="stylesheet" href="css/mui.min.css" />
    <link rel="stylesheet" href="./less/index.css">
    <link rel="stylesheet" href="./css/icons-extra.css">
    <link rel="stylesheet" href="./css/iconfont.css">
    <script src="js/mui.js"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./js/zepto.min.js"></script>
    <script>
        mui.init();
    </script>
</head>

<body style="height: 100%;">
    <div id="app">
        <header id="header" class="mui-bar mui-bar-nav">
            <h1 class="mui-title">微信</h1>
            <!--添加按钮-->
            <a href="#popover" class="mui-icon mui-icon-plus" id="add"></a>
            <!--查询按钮-->
            <a class="mui-icon mui-icon-search" id="search"></a>
        </header>
        <!-- 点加号显示的弹框 -->
        <div id="popover" class="mui-popover">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell" index="0">
                    <a href="#"><span class="mui-icon-extra mui-icon-extra-peoples"></span>发起群聊</a>
                </li>

                <li class="mui-table-view-cell" index="1">
                    <a href="#"><span class="mui-icon-extra mui-icon-extra-addpeople"></span>添加好友</a>
                </li>

                <li class="mui-table-view-cell" index="2">
                    <a href="#"><span class="mui-icon-extra mui-icon-extra-sweep"></span>扫一扫</a>
                </li>

                <li class="mui-table-view-cell" index="3">
                    <a href="#"><span class="mui-icon-extra mui-icon-extra-prech"></span>收付款</a>
                </li>

                <li class="mui-table-view-cell" index="4">
                    <a href="#"><span class="mui-icon mui-icon-email"></span>帮助与反馈</a>
                </li>
            </ul>
        </div>

        <!-- 底部导航 -->
        <nav class="mui-bar mui-bar-tab" id="nav">
            <a class="mui-tab-item mui-active" href="#tabbar1">
                <span class="mui-icon mui-icon-chatbubble" index='0'>
                    <span class="mui-badge mui-badge-danger">{{msgTotal}}</span>
                </span>
                <span class="mui-tab-label">微信</span>
            </a>
            <a class="mui-tab-item " href="#tabbar2">
                <span class="mui-icon iconfont icon-tongxunlu" index='1'></span>
                <span class="mui-tab-label">通讯录</span>
            </a>
            <a class="mui-tab-item" href="#tabbar3">
                <span class="mui-icon iconfont icon-faxian" index='2'></span>
                <span class="mui-tab-label">发现</span>
            </a>
            <a class="mui-tab-item" href="#tabbar4">
                <span class="mui-icon iconfont icon-wode" index='3'></span>
                <span class="mui-tab-label">我</span>
            </a>
        </nav>
        <!-- 主体 -->
        <div class="mui-content">
            <!-- 聊天列表 -->
            <div id="tabbar1" class="mui-control-content ">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell mui-media" v-for="(item,index) in data1" :key="index"
                        @click="clickDialogue(item)">
                        <a href="javascript:;">
                            <img class="mui-media-object mui-pull-left" :src="item.img">
                            <span class="mui-badge mui-badge-danger" v-text="item.count" v-if="item.count>0"></span>
                            <div class="mui-media-body">
                                <span class="name" v-text="item.title">安徽旅游群</span>
                                <span class="time" v-text="item.time">10:59</span>
                                <p class='mui-ellipsis' v-text="item.desc">能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
            <!-- 通讯录 -->
            <div id="tabbar2" class="mui-control-content mui-active">
                <!-- 顶部功能 -->
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell mui-media">
                        <a href="javascript:;">
                            <img class="mui-media-object mui-pull-left" src="./img/1.png">
                            <div class="mui-media-body">
                                <span class="name">新的朋友</span>
                            </div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media">
                        <a href="javascript:;">
                            <img class="mui-media-object mui-pull-left" src="./img/2.png">
                            <div class="mui-media-body">
                                <span class="name">群聊</span>
                            </div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media">
                        <a href="javascript:;">
                            <img class="mui-media-object mui-pull-left" src="./img/3.png">
                            <div class="mui-media-body">
                                <span class="name">标签</span>
                            </div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media">
                        <a href="javascript:;">
                            <img class="mui-media-object mui-pull-left" src="./img/4.png">
                            <div class="mui-media-body">
                                <span class="name">公众号</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- 好友 -->
                <ul class="mui-table-view">
                    <li data-group="important" class="mui-table-view-divider mui-indexed-list-group">标星朋友</li>
                    <li class="mui-table-view-cell mui-media">
                        <a href="javascript:;">
                            <img class="mui-media-object mui-pull-left"
                                src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3493362120,3153261029&fm=26&gp=0.jpg">
                            <div class="mui-media-body">
                                <span class="name">小红</span>
                            </div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media">
                        <a href="javascript:;">
                            <img class="mui-media-object mui-pull-left"
                                src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1764160117,2578990063&fm=26&gp=0.jpg">
                            <div class="mui-media-body">
                                <span class="name">小明</span>
                            </div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media">
                        <a href="javascript:;">
                            <img class="mui-media-object mui-pull-left"
                                src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3583433020,118316633&fm=26&gp=0.jpg">
                            <div class="mui-media-body">
                                <span class="name">夏军</span>
                            </div>
                        </a>
                    </li>
                    <li data-group="A" class="mui-table-view-divider mui-indexed-list-group">A</li>
                    <li class="mui-table-view-cell mui-media">
                        <a href="javascript:;">
                            <img class="mui-media-object mui-pull-left"
                                src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3020008468,851099161&fm=26&gp=0.jpg">
                            <div class="mui-media-body">
                                <span class="name">阿豪</span>
                            </div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media">
                        <a href="javascript:;">
                            <img class="mui-media-object mui-pull-left"
                                src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=589030349,317373330&fm=26&gp=0.jpg">
                            <div class="mui-media-body">
                                <span class="name">阿秋</span>
                            </div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media">
                        <a href="javascript:;">
                            <img class="mui-media-object mui-pull-left"
                                src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=282643629,3809150493&fm=26&gp=0.jpg">
                            <div class="mui-media-body">
                                <span class="name">啊糗</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 发现 -->
            <div id="tabbar3" class="mui-control-content">
                3
            </div>
            <!-- 我 -->
            <div id="tabbar4" class="mui-control-content">
                <ul class="mui-table-view mui-table-view-chevron">
                    <li class="mui-table-view-cell mui-media">
                        <a class="mui-navigate-right" href="#account">
                            <img class="mui-media-object mui-pull-left head-img" id="head-img" src="./img/rabbit.jpg">
                            <div class="mui-media-body">
                                顽石mua
                                <p class='mui-ellipsis'>微信号: shisiping000</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="mui-table-view mui-table-view-chevron">
                    <li class="mui-table-view-cell">
                        <a href="#account" class="mui-navigate-right">支付</a>
                    </li>
                </ul>
                <ul class="mui-table-view mui-table-view-chevron">
                    <li class="mui-table-view-cell">
                        <a href="#notifications" class="mui-navigate-right">收藏</a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a href="#privacy" class="mui-navigate-right">相册</a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a href="#general" class="mui-navigate-right">卡包</a>
                    </li>
                </ul>
                <ul class="mui-table-view mui-table-view-chevron">
                    <li class="mui-table-view-cell">
                        <a href="#about" class="mui-navigate-right">表情 </a>
                    </li>
                </ul>
                <ul class="mui-table-view mui-table-view-chevron">
                    <li class="mui-table-view-cell">
                        <a href="#about" class="mui-navigate-right">设置</a>
                    </li>
                </ul>


            </div>
        </div>
    </div>

    <script src="./js/index.js"></script>
    <script>
        // 切换顶部标题
        $('#nav').on('click', 'a', function () {
            let txt = $(this).children('.mui-tab-label').text();
            $('#header h1').text(txt);
        })

        $('#popover ul').on('click', 'li a', function () {
            mui.toast("功能暂未开发", { duration: 'short', type: 'div' })
            $('#popover').removeClass('mui-active');
            $('.mui-backdrop').hide();
        });
    </script>
</body>

</html>